# Библиотека Pandas

# Data Frame

In [1]:
import pandas as pd

In [2]:
frame = pd.DataFrame({'numbers':range(10), 'chars':['a']*10})

In [3]:
frame

   numbers chars
0        0     a
1        1     a
2        2     a
3        3     a
4        4     a
5        5     a
6        6     a
7        7     a
8        8     a
9        9     a

In [16]:
frame = pd.read_csv('/home/maksim/lyubaxa/2week/dataset.tsv', header=0, sep='\t')

In [14]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер

In [17]:
frame.columns

Index(['Name', 'Birth', 'City', 'Position'], dtype='object')

In [18]:
frame.shape

(6, 4)

Добавление строки в таблицу

In [19]:
new_line = {'Name':'Maksim', 'Birth':'10.10.1998', 'City':'Moskow'}

In [33]:
frame = frame.append(new_line, ignore_index=True)

Добавление столбца

In [38]:
frame['IsStudent'] = ['False']*5 + ['True']*6

frame

Удаление строк

In [47]:
frame.drop([4], axis=0, inplace=True)

In [48]:
frame

              Name       Birth       City  Position IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN     False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер     False
2       Белов М.М.  13.02.1980     Ростов  менеджер     False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN     False

Удаление столбца

In [50]:
frame.drop('IsStudent', axis=1, inplace=True)

In [51]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN

Запись в файл

In [52]:
frame.to_csv('/home/maksim/lyubaxa/2week/updated_dataset.tsv', sep=',', header=True, index=None)

In [53]:
!cat /home/maksim/lyubaxa/2week/updated_dataset.tsv

Name,Birth,City,Position
Иванов А.А.,22.03.1980,Москва,
Сорокин И.В.,07.08.1965,Волгоград,инженер
Белов М.М.,13.02.1980,Ростов,менеджер
Мельникова Д.С.,15.04.1985,Ростов,